.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke; /* azul FinBit */
  color: #272830;
  padding: 0 1rem;
  height: 64px;

  .brand {
    font-weight: 700;
    font-size: 1.2rem;
  }

  /* centrado horizontal real */
  .page-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 2rem;
    color: #272830; /* visible sobre el fondo azul */
    pointer-events: none;
  }

  .spacer {
    flex: 1;
  }

  .user {
    margin: 0 1rem;
  }

  button {
    margin-left: 0.5rem;
    color: #272830;
  }
}
